@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --main: rgb(76, 174, 243);
    --main-hover: rgb(114, 197, 255);
    /****************EUREKA LOGO COLORS******************/
    --second: rgb(66, 113, 173);
    --second-hover: rgb(66, 134, 194);
    --third: rgb(46, 50, 146);
    --third-hover: rgb(46, 50, 165);
    --fourth: #66cad3;
    --fourth-hover: #66d4dd;
    /************************** *************************/

    --color-text: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*  font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    color: var(--third);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

input,
textarea,
select,
button {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}

*:focus {
    outline: none;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    word-break: break-word;
}

a {
    color: inherit;
}

h1 {
    font-size: 40px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

/*-------------Buttons-------------*/
button {
    cursor: pointer;
    margin: 15px 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(
            0deg,
            var(--fourth) 0%,
            var(--second) 100%
    );
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    /*transition: background 0.3s ease-in-out, color 0.3s ease-in-out;*/
    border-radius: 4px;
    transition: all 0.5s;
}

.btn-default {
    cursor: pointer;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 4px;
}

button:hover,
button:focus,
.btn-default:hover,
.btn-default:focus {
    cursor: pointer;
    color: #ffffff;
    transition: 0.5s all;
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/*---------Input and Labels--------*/
input,
textarea,
button,
button:focus,
textarea:focus,
input:focus {
    outline: none;
}

.highlightSpan {
    border-radius: 5px;
    padding: 6px 0;
    background: rgba(222, 226, 230, 0.53);
}

.highlightedSpan {
    border-radius: 5px;
    padding: 6px 0;
    background: #ffff56;
}
